.modal-content{
    background-color: #c9daf8ff;
    width: 800px;
}
.nameAndInput{
    display: flex;
    align-items: center;
}
.nameAndInput label{
    margin-bottom: 0;
    width: 100px;
}
.campoCompleto label{
    margin-bottom: 0;
    width: 130px;
}
.nameAndInput .custom-file-label{
    width: inherit;
}
.nameAndInput>div{
    width: 100%;
    margin-left: 25px;
}
.submitButton{
    display: flex;
}
.submitButton>button{
    margin: auto;
    background-color: #4a86e8ff;
    width: 200px;
    color: black;
}
.submitButton>.cancelar{
    background-color: red;
    border-color: black;
}
.addToGroupExit{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px 36px;
}
#addedToGroupItems{
    padding-bottom: 50px;
}
.addType{
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
}
.addType>div{
    margin: 0;
    padding: 0 25px;
}
.fila {
    display: flex;
}
.fila .campoCompleto {
    display: flex;
}
.fila .campoCompleto .campoTexto {
    margin: 0 4px;
}
.segundaColumna{
    margin-left: 15px;
}
.customDialog{
    width: 800px;
    margin: auto;
    max-width: none;
}
.addToGroupContainer{
    display: flex;
}
.addToGroupContainer .addType{
    margin-bottom: 25px;
}
.addToGroupColumn{
    padding: 0 20px;
    flex-grow: 1;
    max-width: 50%;
}
.contents>.card{
    margin-bottom: 5px;
}
.itemsList{
    border-right: 1px solid black;
}
.itemsAdded>h6{
    text-align: center;
    margin-bottom: 15px;
}
.addToGroupContainer .submitButton{
    margin-top: 145px;
    margin-bottom: 0;
}
.addToGroupContainer .submitButton button{
    margin: 0 10px;
}