.container{
    padding: 20px;
    background-color: #c9daf8ff;

}
.hidden{
    opacity: 0;
    height: 0;
}
.dragover{
    border: 2px dashed black;
}
.topMenu button{
    width: 120px;
    padding: 1px 6px;
    margin-right: 5px;
    background-color: #a4c2f4ff;
}
.iconMenu{
    margin-top: 15px;
}
.iconMenu .card{
   flex-direction: row;
   align-items: center;
   padding: 10px;
   background-color: #a4c2f4ff;
}
.iconMenu img{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    cursor: pointer;
}
.iconMenu .add { /* AÑADIDA ESTA LLAVE */
    margin-bottom: 2px;
}
.iconMenu .import{
    margin-bottom: 13px;
}
.iconMenu .export{
    margin-top: 9px;
}
.mainContent{
    display: flex;
}
.mainContent>div{
    flex-grow: 1;
    max-width: 50%;
}
.mainContent>div>.card{
    background-color: #a4c2f4ff;
}
.mainContent>div .card-header{
    padding: 0;
}
.machines{
    margin-right: 5px;
}
.machines table{
    width: 100%;
}
.machines table tr{
    border-bottom: 1px solid lightgray;
}
.actionIcons{
    float: right;
}
.actionIcons img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 6px;
    cursor: pointer;
}
.actionIcons .dropdown{
    display: inline;
}
.draggableIndicator{
    float: left;
    width: 10px;
    height: 38px;
    background-color: #0000ffff;
    color: #0000ffff;
    cursor: move;
}
.search{
    margin: 10px 0;
    
}
.mvState{
    opacity: 0.5;
    font-size: 14px;
}
.disabledIcon{
    opacity: 0.4;
}

